html, body{
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
body{
  align-items: center;
}
.flex-container{ 
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-header{
  max-height: 100px;
  background-color: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title{
  font-size: 120px;
  color: white;
}
.main-container{
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: stretch;
}
.container-block{
  flex-grow: 1;
}
.middle{
  min-width: 980px;
  display: flex;
  flex-direction: column;
  margin: 1px;
}
.gridDiv{
background-color: white;
flex-grow: 0;
flex-shrink: 1;
flex-basis: auto;
display: flex;
}
.childDivs{
flex-shrink: 1;
flex-basis: auto;
opacity: 1;
}
.left, .right{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  background-color: red;
  padding-bottom: 32px;
}
.buttons{
padding: 48px 48px;
border-radius: 100%;
background-color: white;
box-shadow: none;
}
.main-footer{
background-color: red;
height: 100px;
}